# Lab 5: Data Preprocessing using Python

* Outcome A:  Learning Data Preprocessing steps
* Outcome B: Applying Data preprocessing techniques to get cleaned data

### Exercise:

 Work on Bank dataset by following YouTube video:
* Load data in Pandas.
* Drop columns that aren't useful.
* Drop rows with missing values/Filling missing values using mean
* Convert categorical values to numeric values.
* Apply feature scaling/normalization

In [1]:
import numpy as np
import pandas as pd
import sci

In [4]:
df = pd.read_csv("bank.csv", sep=";")

In [5]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [6]:
df.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [7]:
def replace_marital(val):
    if val=='single':
        return 0
    else:
        return 1
    
df["marital"]=df["marital"].apply(replace_marital,1)

In [8]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,0,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [9]:
df["housing"]=df["housing"].map({"no":0,"yes":1}.get)

In [11]:
df["loan"]=df["loan"].replace({"no":0,"yes":1})

In [12]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,primary,no,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,secondary,no,4789,1,1,cellular,11,may,220,1,339,4,failure,no
2,35,management,0,tertiary,no,1350,1,0,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,tertiary,no,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,secondary,no,0,1,0,unknown,5,may,226,1,-1,0,unknown,no

In [13]:
df["job"].unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin.', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

In [14]:
df["job"].replace({"unknown":np.nan, 'unemployed':0, 'services':1, 'management':2, 'blue-collar':3,
       'self-employed':4, 'technician':5, 'entrepreneur':6, 'admin.':7, 'student':8,
       'housemaid':9, 'retired':10}, inplace=True)

In [15]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,0.0,1,primary,no,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,no
1,33,1.0,1,secondary,no,4789,1,1,cellular,11,may,220,1,339,4,failure,no
2,35,2.0,0,tertiary,no,1350,1,0,cellular,16,apr,185,1,330,1,failure,no
3,30,2.0,1,tertiary,no,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,no
4,59,3.0,1,secondary,no,0,1,0,unknown,5,may,226,1,-1,0,unknown,no

In [16]:
df["education"].unique()

array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object)

In [17]:
df["education"].replace({'primary':0, 'secondary':1, 'tertiary':2, 'unknown':np.nan}, inplace=True)

In [18]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,0.0,1,0.0,no,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,no
1,33,1.0,1,1.0,no,4789,1,1,cellular,11,may,220,1,339,4,failure,no
2,35,2.0,0,2.0,no,1350,1,0,cellular,16,apr,185,1,330,1,failure,no
3,30,2.0,1,2.0,no,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,no
4,59,3.0,1,1.0,no,0,1,0,unknown,5,may,226,1,-1,0,unknown,no

In [19]:
df["default"].replace({"no":0, "yes":1},inplace=True)

In [21]:
df.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
4516,33,1.0,1,1.0,0,-333,1,0,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,4.0,1,2.0,1,-3313,1,1,unknown,9,may,153,1,-1,0,unknown,no
4518,57,5.0,1,1.0,0,295,0,0,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,3.0,1,1.0,0,1137,0,0,cellular,6,feb,129,4,211,3,other,no
4520,44,6.0,0,2.0,0,1136,1,1,cellular,3,apr,345,2,249,7,other,no

In [25]:
mini=df["balance"].min()

In [26]:
maxi=df["balance"].max()

In [27]:
df["balance"]=df["balance"].apply(lambda v: (v-mini)/(maxi-mini))

In [28]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,0.0,1,0.0,0,0.068455,0,0,cellular,19,oct,79,1,-1,0,unknown,no
1,33,1.0,1,1.0,0,0.108750,1,1,cellular,11,may,220,1,339,4,failure,no
2,35,2.0,0,2.0,0,0.062590,1,0,cellular,16,apr,185,1,330,1,failure,no
3,30,2.0,1,2.0,0,0.064281,1,1,unknown,3,jun,199,4,-1,0,unknown,no
4,59,3.0,1,1.0,0,0.044469,1,0,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,1.0,1,1.0,0,0.039999,1,0,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,4.0,1,2.0,1,0.000000,1,1,unknown,9,may,153,1,-1,0,unknown,no
4518,57,5.0,1,1.0,0,0.048429,0,0,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,3.0,1,1.0,0,0.059731,0,0,cellular,6,feb,129,4,211,3,other,no
4520,44,6.0,0,2.0,0,0.059717,1,1,cellular,3,apr,345,2,249,7,other,no

In [30]:
df.contact.replace({"unknown":np.nan, "telephone":0, "cellular":1}, inplace=True)

In [31]:
df.month.unique()

array(['oct', 'may', 'apr', 'jun', 'feb', 'aug', 'jan', 'jul', 'nov',
       'sep', 'mar', 'dec'], dtype=object)

In [32]:
df.month=df.month.replace({'oct':10, 'may':5, 'apr':4, 'jun':6, 'feb':2, 'aug':8, 'jan':1, 'jul':1, 'nov':11,
       'sep':9, 'mar':3, 'dec':12}, inplace=True)

In [33]:
df.poutcome.unique()

array(['unknown', 'failure', 'other', 'success'], dtype=object)

In [35]:
df.poutcome=df.poutcome.map({'unknown':np.nan, 'failure':0, 'other':1, 'success':2})